
/*********************************************
                     GENERAL
 *********************************************/


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:14px;
    color:#292929;
}

.aligne-center{
    text-align:center;
}

.aligne-justify{
    text-align:justify;
}

button{
    border: none;
    background: transparent;
    outline: 0;
    text-align: left;
}

ul, ol{
    padding-left: 25px;
}

h1{
    font-weight: normal;
    font-size:26px;
    color:#F15939;
    font-family: 'neucha';
}

h2{
    font-weight: normal;
    font-size:26px;
    color:#F15939;
    font-family: 'neucha';
    margin: 30px 0;
}

h3{
    font-weight: normal;
    font-size:18px;
    color:#1CB6B0;
}

a {
    text-decoration: none !important;
    transition: all 0.3s linear;
    color: #F15939;
}

a:hover{
    color: #1C5E93;
}

.btn{
    transition: all 0.3s linear;
    font-weight: 400;
    font-size:16px;
    text-transform: uppercase;
    background:#F15939;
    border: none;
    border-radius: 0;
    filter:none;
    color: #FFF;
    text-shadow: none;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
    border-radius:4px;
    align-self:center;
}

.btn:hover,.btn:focus{
    background: #1C5E93;
    color: #FFF;
}

.btn-primary {
    background-image: none;
    background: #1C5E93;
    filter:none;
}

.btn-primary:hover{
    background:#F15939;
}

label{
    font-weight: 400;
}

strong{
    font-weight: 600;
}

object {
    width:100%;
    height:600px;
    overflow: scroll;
}

.blue{
    color:#1CB6B0;
}

.orange{
    color:#F15939;
}

.white{
    color:white;
}


/*********************************************
                ACCUEIL
*********************************************/


h4 >strong{
    font-weight:bold;
    font-size:20px;
    color:#f11439;
}

.contenu ul li, .bandeau ul li {
    list-style-type: none;
    margin-bottom: 8px;
    position: relative;
}

.contenu ul li:before, .bandeau ul li:before{
    display: inline-block;
    content: "\f101";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    left: -18px;
    top: -2px;
    font-size: 18px;
}

.contenu{
    padding: 40px 0;
}


/*********************************************
                CONTENU PAGES
*********************************************/

.bandeau ul li:before{
    top: 0;
}

.bandeau{
    background: #F15939;
    color: #FFF;
    padding: 50px 0 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.bandeau h1{
    font-family: 'neucha';
    color: #FFF;
    margin: 15px 0 30px;
}

.bandeau h2{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

.bandeau a{
    color: #FFF;
    text-decoration: underline !important;
}

.bandeau a:hover{
    color: #F11439;
    text-decoration: underline !important;
}

.table-responsive{
    border: 0 !important;
    margin-bottom: 40px;
}

.table-responsive table {
    text-align: center;
}

.table-responsive table td:first-child{
    text-align: left;
    font-weight: 700;
}

.table-responsive table td{
    border: 1px solid #ddd;
    text-align: center;
}

.table-responsive table tr:first-child td{
    font-weight: 700;
    color: #748d0b;
}

.table-responsive table img{
    max-width: 100%;
}


/*********************************************
              MEDIA QUERIES
*********************************************/

@media (min-width:1200px) {
    .bandeau h1{font-size: 36px;}
    h1, h2{font-size: 28px;}
}

@media (max-width:991px) {
    .bandeau{padding: 20px;}
    .pageActivite .bandeau{text-align: center; padding: 20px 0 100px;}
    .pageActivite .contenu{padding: 150px 0 40px;}
}

@media (max-width:767px) {
    h2{font-size: 24px;}
}

@media (max-width:450px){
    .tab-content>.tab-pane{display: block !important; position: relative; opacity: 1; margin-bottom: 40px;}
    .bandeau{padding: 15px 0;}
}