
/*********************************************
                     GENERAL
 *********************************************/


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:14px;
    color:#292929;
}

.aligne-center{
    text-align:center;
}

.aligne-justify{
    text-align:justify;
}

button{
    border: none;
    background: transparent;
    outline: 0;
    text-align: left;
}

ul, ol{
    padding-left: 25px;
}

h1{
    font-weight: normal;
    font-size:26px;
    color:#F15939;
    font-family: 'neucha';
}

h2{
    font-weight: normal;
    font-size:26px;
    color:#F15939;
    font-family: 'neucha';
    margin: 30px 0;
}

h3{
    font-weight: normal;
    font-size:18px;
    color:#1CB6B0;
}

a {
    text-decoration: none !important;
    transition: all 0.3s linear;
    color: #F15939;
}

a:hover{
    color: #1C5E93;
    border:none !important;
}

.btn{
    transition: all 0.3s linear;
    font-weight: 400;
    font-size:16px;
    text-transform: uppercase;
    background:#F15939;
    border: none;
    border-radius: 0;
    filter:none;
    color: #FFF;
    text-shadow: none;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
    border-radius:4px;
}

.btn:hover,.btn:focus{
    background: #1C5E93;
    color: #FFF;
}


.btn-primary {
    background-image: none;
    background: #1C5E93 !important;
    filter:none;
    border:none !important;
}

.btn-primary:hover{
    background:#F15939 !important;
}

.btn-default{
    transition: all 0.3s linear;
    font-weight: 400;
    font-size:16px;
    text-transform: uppercase;
    background:#F15939 !important;
    border: none !important;
    border-radius: 0;
    filter:none;
    color: #FFF !important;
    text-shadow: none;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
    border-radius:4px;
}

.btn-default:hover,.btn:focus{
    background: #1C5E93 !important ;
    color: #FFF;
}

label{
    font-weight: 400;
}

strong{
    font-weight: 600;
}

object {
    width:100%;
    height:600px;
    overflow: scroll;
}

h4 >strong{
    font-weight:bold;
    font-size:20px;
    color:#f11439;
}

/*********************************************
                ACCUEIL
*********************************************/

.navCarousel{
    position: absolute;
    top: 0;
    right: 0;
}

.carousel-control.left, .carousel-control.right{
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #F15939 !important;
    background-image: none !important;
    opacity: 1;
    text-align: center;
    position: relative;
    display: inline-block;
}

.carousel-control.left:hover, .carousel-control.right:hover{
    background: #e3342f !important;
}

.carousel-control.left .glyphicon, .carousel-control.right .glyphicon{
    font-size: 15px;
    text-shadow: none;
    top: 5px;
    left: 0;
    margin: 0;
    width: 25px;
    height: 25px;
}

.carousel-control.left .glyphicon{
    left: 0;
}

.carousel-control.right .glyphicon{
    right: 0;
}

.img-responsive{
    padding-top:20px;
}

.activites{
    background: #1CB6B0;
    padding: 40px 0;
    border-top: 2px solid #FFF;
    position: relative;
}

.contenu ul li, .bandeau ul li {
    list-style-type: none;
    margin-bottom: 8px;
    position: relative;
}

.contenu ul li:before, .bandeau ul li:before{
    display: inline-block;
    content: "\f101";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    left: -18px;
    top: -2px;
    font-size: 18px;
}

.contenu{
    padding: 40px 0;
}


/*********************************************
                CONTENU PAGES
*********************************************/

.bandeau ul li:before{
    top: 0;
}

.bandeau{
    background: #F15939;
    color: #FFF;
    padding: 50px 0 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.bandeau h1{
    font-family: 'neucha';
    color: #FFF;
    margin: 15px 0 30px;
}

.bandeau h2{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

.bandeau a{
    color: #FFF;
    text-decoration: underline !important;
}

.bandeau a:hover{
    color: #F11439;
    text-decoration: underline !important;
}

.navLieux {border:0; padding-left: 40px !important;}
.navLieux li:before{display: none !important;}
.navLieux li{margin: 0 8px 0 0!important; border: none;}

.navLieux li a, .navLieux li a:focus{
    background: #F15939;
    font-family: 'Coming Soon', cursive;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    border-radius: 12px 12px 0 0 !important;
    padding:  10px 20px ;
    border:none !important;
    outline: 0;
}

.navLieux li a:hover{background: #1C5E93 ;color: #F15939 !important;}
.navLieux li.active a, .navLieux li.active a:hover, .navLieux li.active a:focus{background: white; color: #F15939 !important;}

.nav-tabs{
    border:none !important;
}
.lieux{
    background: white;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 20px 0;
}

.lieux .navCarousel{top: auto; bottom: 8px; right: 10px; position: absolute; margin: 0;}

.lieux .caption{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    background: #ad0000;
    opacity: 0.9;
    color: #FFF;
}

.lieux h2{
    margin-bottom: 15px;
    line-height: normal;
}

.lieux hr{border-color: #d5d5d5;}

.addLieux{
    color: #1CB6B0;
    font-size: 16px;
    position: relative;
    float: left;
}

.addLieux:before {

    display: inline-block;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-style: normal;
    left: 0;
    top: -3px;
    font-size: 30px;
}

.lieux .btn{margin-top: 7px; float: right;}
.lieux h3{margin-bottom: 20px;}
.lieux ul{margin-bottom: 20px;}

.peda h2{padding: 0 15px; margin: 10px 0 0;}


/*********************************************
              MEDIA QUERIES
*********************************************/

@media (min-width:1200px) {
    h1, h2{font-size: 28px;}
    .galerie:before{margin-right: -65px;margin-top:-30px;}
}

@media (max-width:991px) {
    .pageActivite .contenu{padding: 150px 0 40px;}
    .lieux{max-width: 680px; margin: auto !important;}
}

@media (max-width:767px) {
    h2{font-size: 24px;}

}

@media (max-width:600px) {
    .navCarousel{position: relative; margin: 15px 0;}
    .actuAcc .carousel-inner{max-width: 350px; margin: auto;}
    .navLieux{padding-left: 20px;}
    .navLieux li a, .navLieux li a:focus{font-size: 18px; padding: 10px 10px 5px;}
    .lieux .navCarousel{top: 25px;}
    .lieux .caption{padding: 5px 10px;}
}

@media (max-width:450px){
    .navLieux{display: none;}
}